body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.3s ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  .chart-wrapper {
    width: 80%;
    margin: auto;
  }
  .stat-wrapper {
    display: flex;
    position: fixed;
    height: 8em;
    align-items: stretch;
    width: 100%;
    background: #333;
    color: #f8f8f8;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
    transition: all 0.3s ease;
    .stat-info {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .box-wrapper {
      width: 100%;
      text-align: center;
    }
  }
  .stat-wrapper.closed {
    flex: 0;
    width: 0;

    .box-wrapper {
      display: none;
    }
  }

  .stat-wrapper.open {
    flex: 1;
    .box-wrapper {
      width: 100%;
    }
  }

  .card-wrapper {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 1.5em;
    margin: auto;
    width: 80%;
    flex: 3;
    padding: 4em 2em 2em 2em;
  }

  .card {
    display: flex;
    flex-direction: column;
    padding: 1em;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.3s;
    max-width: 300px;
    border-radius: 4px;

    .text-wrapper {
      flex: 1;
      text-align: center;
    }
    .image-wrapper {
      flex: 1;
    }

    img {
      width: 100%;
    }
    &:hover {
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
    }
  }
}

button {
  cursor: pointer;
  padding: 0.6em 1.2em;
  width: 120px;
  margin: auto;
  font-size: 0.9rem;
  background-color: #ab47bc;
  color: #f8f8f8;
  border: none;
  border-radius: 4px;
  outline: none;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  }
}

.icon {
  cursor: pointer;
  position: fixed;
  left: 50%;
  margin-left: -120px;
  padding: 0;
  bottom: 2%;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0.4;
  &:hover {
    opacity: 0.8;
  }
}
.danger {
  background-color: #e57373;
  color: #333;
  &:hover {
    opacity: 0.4;
  }
}

.tmp-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  h3 {
    text-align: center;
  }
}

.snack {
  position: absolute;
  border-radius: 4px;
  width: 8em;
  text-align: center;
  z-index: 1000;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.snack.connecting {
  background: #9e9e9e;
}

.snack.connected {
  background: #66bb6a;
}

.snack.show {
  left: 1em;
  top: 1em;
}

.snack.hidden {
  transform: translateX(-150%);
}
